.col-xs-3 .col-sm-3 .col-md-3
.col-xs-4 .col-sm-4 .col-md-4
.col-xs-5 .col-sm-5 .col-md-5{
    height: 625px;
    background-color: blue;
 }
#blog1 #blog2 #blog3{
    background-color: blue;
}
.row{
    background-color: blue;
}
 
#blog2{
    background-image: url("/image/friendship.JPG");
    width: 200px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;

}
#blog4{
    text-align: center;
}