html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
  a {
    background-color: transparent;
  }
  h1 {
    margin: .67em 0;
    color: whitesmoke;
  }

  sub,
  sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
  }
  
  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  body {
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    
  }
  a {
    color: #337ab7;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: #23527c;
    text-decoration:unset;
  }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  img {
    margin-top: -10px; 
    height: 30px;
    vertical-align: middle;
  }
  .footer .container{
    height: 3em;
    padding-left: 0%;
    padding-left: 0%;
    color: whitesmoke;
    text-align: center;
  }
  .only-sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .only-sr-focusable:active,
  .only-sr-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
  .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }
 
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
    
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  @media(min-width:320px) and ( max-width:568px){
#welcome1{
margin-top: 120px;
font-size: 20px;
}
#metneak{
  margin-top: 100px;
  font-size: 20px;
}
#login-box1{
  width: 120px;
  height: 60px;
  margin-top: 30px;
  padding-top: 15px;
  margin-left: 70px;

}
#connectfreind{
  margin-top: 90px;
  font-size: 20px;
}
#facebook{
  display: none;
}
}
@media(min-width:414px) and ( max-width:736px){
  #welcome1{
  margin-top: 120px;
  font-size: 20px;
  }
  #metneak{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
  }
  #login-box1{
    width: 200px;
    height: 60px;
    margin-top: 30px;
    padding-top: 15px;
    margin-left: 100px;
  
  }
  #connectfreind{
    margin-top: 90px;
    font-size: 20px;
  }
  #facebook{
    display: none;
  }
}
@media(min-width:320px) and ( max-width:568px){
  #welcome1{
  margin-top: 120px;
  font-size: 20px;
  }
  #metneak{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
  }
  #login-box1{
    width: 100px;
    height: 60px;
    margin-top: 30px;
    padding-top: 15px;
    margin-left: 70px;
  
  }
  #connectfreind{
    margin-top: 90px;
    font-size: 20px;
  }
  #facebook{
    display: none;
  }
}
@media screen and (max-width:375px){
  .mn-login-font{
    margin-top: 10px;
  }
  /* #welcome1{
  margin-top: 120px;
  font-size: 20px;
  }
  #metneak{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
  }
  #login-box1{
    width: 100px;
    height: 60px;
    margin-top: 30px;
    padding-top: 15px;
    margin-left: 70px;
  
  }
  #connectfreind{
    margin-top: 90px;
    font-size: 20px;
  }
  #facebook{
    display: none;
  }
}
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px; */
  }
  @media screen and (max-width: 767px) {
    .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
      font-size: 50%;
    }
}
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
  }
  .jumbotron .container {
    max-width: 100%;
  }
  @-webkit-keyframes progress-bar-stripes {
    from {
      background-position: 40px 0;
    }
    to {
      background-position: 0 0;
    }
  }
  @-o-keyframes progress-bar-stripes {
    from {
      background-position: 40px 0;
    }
    to {
      background-position: 0 0;
    }
  }
  @keyframes progress-bar-stripes {
    from {
      background-position: 40px 0;
    }
    to {
      background-position: 0 0;
    }
  } 