*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.hero-content{
    text-align: center;
    margin-top: 18%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    height: 20em;

}
.hero-section{
height: 662px;
}
.fab fa-facebook-square{
 width: 20px;
}
.hero-content p{
    font: bold;
    font-size: 25px;
    font-family: taprom;
    color: #090089;
    padding: 10px;
    margin: 10px;

}
.welcome {
    font-size: 4rem;
    font-family: taprom;
    font: bold;
}

.mn-login-font{
    font-family: taprom;
    font: bold;
    color: yellow;
    font-size: 7rem;
    margin-top: 10px;
}
.login-box{
    height: 3em;
    padding-top: 2rem;
    margin-left: 7em;
    margin-right: 7em;
    font-size: 2rem;
    background-color: #0066ff;
    color: #ffffff;
    
}
body{
    background-image: url("../image/");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10em;
}
.container:after, .container-fluid:after {
    clear: both;
}
.navbar {
    font-size: 10px;
    font-weight: 200;
    text-transform: capitalize;
    padding-top: 25px;
    letter-spacing: 1px;
    height: 80px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
   
}
