.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar {
    padding-right: 40px !important;
    padding-left: 30px !important;
    position: fixed;
    width: 100%;
    z-index: 990;
    min-height: 60px;
    left: 0;
    top: 0px;
}

.navbar-color {
    background-color: #f9e75e;
}

.nav-link {
    color: #333366 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-left: -15px;
    margin-right: 19px;
}

.nav-link:hover {
    color: #ff5f5f !important;
}

.navbar-logo {
    width: 130px !important;
}

.btn-group {
    height: 42px;
}

.btn-profile {
    background-color: #333366;
}

.btn-profile-img {
    width: 42px;
    vertical-align: middle;
}

.size-profile {
    width: 42px;
    margin-top: -9px;
    margin-left: -17px;
}

.btn-profile:hover {
    background-color: #ff5f5f;
}

.form-inline {
    margin-right: 20px;
}

.list-school {
    padding-left: 50px;
}

.search-friend {
    margin-top: 10px;
    margin-bottom: 0px;
}

.list-search-friend {
    list-style-type: none;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-search-panel {
    height: 100%;
    min-height: 1000px;
    font-family: 'Fasthand', serif;
    font-size: 12px;
}

.list-search-friend li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-profile-image {
    width: 35px;
    margin-right: 20px;
}

.online {
    color: #5fbb5f;
}

.online-m {
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 7px;
}

.angkor {
    font-family: 'Angkor', cursive;
    font-size: 16px;
}

.fasthand {
    font-family: 'Fasthand', serif !important;
    font-size: 8px !important;
}

.form-control {
    font-family: 'Fasthand', serif !important;
    font-size: 12px !important;
}

.list-group a {
    background-color: white;
    color: #333366;
}

.list-group a:not(:first-child):hover {
    background-color: #ff5f5f;
    color: white;
}

.list-group-item.active {
    background-color: #333366;
    border: 0px;
}

.side-right {
    background-color: #f9e75e;
    position: fixed;
    top: 60px;
    right: 0;
    height: 100%;
    z-index: 5;
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
    padding: 0px;
}

.card {
    margin-right: 25px;
    margin-top: 20px;
    margin-left: 25px;
}

.card-body {
    padding: 10px 0px;
    text-align: justify;
}

.card-title {
    font-size: 13px;
}

.card-link {
    font-size: 9px;
}

.card-body-text {
    font-size: 12px;
    padding-left: 7px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.list-member {
    margin-top: 0px !important;
}

.my-modal-footer {
    padding: 0px !important;
}

.btn-notification {
    background-color: #f9e75e !important;
    color: black;
}

.message-modal {
    position: fixed;
}

.col-xl-3 {
    padding-left: 0px !important;
}

.left-sidebar {
    height: 100%;
    overflow: hidden;
    position: fixed;
    margin-top: 60px;
    padding: 0px;
}

.main-content {
    position: relative;
    top: 60px;
    left: 25% !important;
}

.content {
    margin: auto;
}

.title-main-content {
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.text-title {
    font-family: 'Fasthand', serif !important;
    font-size: 20px;
}

html,
body {
    min-width: 600px;
}

.navbar .dropdown-menu a {
    padding: 6px;
    font-size: -8.0625rem;
    font-size: 10px;
    font-weight: 300;
    color: #000 !important;
}