.logo-style{
    width:130px;
    margin-top: 17px;
}
.container-fluid{
    background-color: #f0f0f0;
    height: 80px;
    box-shadow: black -5px -5px 18px;
}
.container{
    background-color: #f0f0f0;
    height: 80px;
}
.header{
    font-family: 'Angkor', cursive;
    font-size: 20px;
}
.main-header{
    font-family: 'Angkor', cursive;
    font-size: 15px;
    
}
.home, .how, .about {
    margin-top: 24px;
    color: #a7a7a7;
    transition: 0.5s;
}
.home:hover, .how:hover,.about:hover {
    margin-top: 24px;
    color: #333366;
}
.search-box{
    margin-top: 20px;
}
.profile{
    margin-top: 14px;
    text-align: right;
}
.profile-name{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.left-sidebar{
    background-color: #f0f0f0;
    margin-top: 19px;
    height: 100%;
    font-size: 14px;
    font-family: 'Kantumruy', sans-serif;
}
.right-sidebar{
    background-color: #f0f0f0;
    margin-top: 19px;
    
    height: 100%;
    font-size: 15px;
}
.left-sidebar div{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1px;
}
.title{
    padding-top: 12px;
    padding-bottom: 9px;
}
.list-school{
    padding: 5px;
}