body{
    background-image: url("../../images/banner1.png");
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'Fasthand', serif !important;
    font-size: 16px !important;
    background-size: cover;
}
h1{
    font-size: 26px !important;
    text-align: center;
}
h5{
    font-size: 20px !important;
    text-align: left;
}
label{
    text-align: right;
}
.content{
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}
.mid{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.77);
    -webkit-box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);
    box-shadow: 0px 35px 44px -22px #1f181b;
    padding: 60px 40px;
}
.btn-primary{
    background-color: #f9e75e !important;
    border-color: #f0d509 !important;
    color:#333366 !important;
}
.form-control{
    color: white !important;
}
.row-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
select{
    width:100% !important;
    -webkit-appearance: menulist-button;
    height: 28px;
}
@media (max-width: 800px){
    label{
        text-align: left;
    }
}
button, input, optgroup, select, textarea {
    margin: 5px;
    font-size: 14px !important;
    line-height: inherit !important;
}