.image1 img:hover {
    box-shadow: 2px 2px 2px 2px  black;
}

.image1 img{
    width: 100%;
    height: 150px;
}
.screen-short{
    display: flex;
}
.home img{
    width: 100%;
}
ul{
    list-style-type: none;
}
ul li{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 30px;
}
ul li dl{
    padding-left: 30px;
    font-weight: 300;
}
.how-to-create-account,.detail-use{
    text-align: left;
}
