body{
    font-family: 'Fasthand', serif;
}
.container-fluid, .row, .col-lg-8,.container,.col-lg-6{
    padding: 0;
    margin: 0;
}
.profile-background{
    height: 300px;
    background-image: url('http://wallpapers-and-backgrounds.net/wp-content/uploads/2015/10/waterfall-full-hd-background_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    
}
.profile-background-change{
    /* position: relative; */
	color: white;
    left: 0;
	padding: 10px;
    overflow: hidden;
    cursor: pointer;
    width: 30px;
    z-index: 0;
    box-sizing: border-box;
    border-radius: 10px;
    height: 30px;
}
#image1{
    opacity: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: red;
   
}
#hide{
    display: none;
    cursor: pointer;
    
}
#hide:hover{
    display: block;
}
#camera-image{
    color: white;
    cursor: pointer;
}
#camera-image:hover{
    color: #333366;
}
.profile-info{
    width: 100%;
    margin-left: 0%;
    background-color: #90aeffbd;
    color: black;
    position: absolute;
    display: flex;
    bottom: -25%;
    z-index: 0;
}
.space{
    height: 70px;
}
.pro-container{
    width: 150px;
    height: 150px;
    /* position: relative; */
    margin-top: 10%;
}
.profile{
    width: 150px;
    height: 150px;
    background: #eee;
    background-image: url('https://www.weact.org/wp-content/uploads/2016/10/Blank-profile.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    padding: 0px;
}
.change-profile{
    width: 140px;
    background-color: rgba(212, 206, 206, 0.8);
    color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    /* z-index:0; */
    text-align: center;
    cursor: pointer;
    bottom: 0;
    line-height: 30px;
    border: 0;
    transition: all 0.3s ease 0s;
}

.change-profile input{
    opacity: 0;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    background-color: burlywood;
    top: 0;
    left:  0;
    width: 140px;
    height: 50px;
    cursor: pointer;
    padding: 20px;
}
.current-info{
    margin-left: 20px;
    padding: 10px;
    top: -50%;
}
table tr, td{
    padding: 5px ;
    font-family: 'Fasthand', serif ;
}
#Edit-profile{
    top: 10px;
    right: 10px;
    position: absolute;
    border: 0;
    background-color: transparent;
    color: blue;
   
}
#Edit-profile:hover{
    transition: 0.5s 0s;
}
.detail{
    width: 100%;
    margin: auto;
    padding: 0px;
}
.row,.summery-container{
    padding: 0px;
}
.post{
    padding: 0px;
}
.summery-container{
    background-color: #eee;
    padding: 10px;
    position: relative;
}
.bakcground{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    background-color: darkblue;
    color: white;
    margin-bottom: 30px;
}
.title{
    font-size: 20px;
    font-weight: bolder;
}
.popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}
.frm{
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    width: 900px;
}
@media (max-width:700px) and (min-width:500px){
    .pro-container{
        width:100%;
        height: 150px;
        top: -17%;
    }
    .profile{
        top: 0;
        right: 40%;
    }
    .current-info{
        width: 95%;
        position: absolute;
        top: 38%;
    }
    .profile-info{
        height: 380px;
        position: relative;
        bottom: 0;
    }
    .comments-container{
        margin-top: 15%;
    }
}
@media (max-width:550px) and (min-width:300px){
    .pro-container{
        width:100%;
        height: 150px;
        top: -10%;
    }
    .profile{
        top: 5%;
        right: 35%;
    }
    .current-info{
        width: 95%;
        position: absolute;
        top: 35%;
    }
    .profile-info{
        height: 450px;
        position: relative;
        bottom: 0;
    }
    .comments-container{
        margin-top: 40%;
    }
    .comment-box{
        width: 280px;
    }
    .comment-avatar{
        width: 20px;
    }
    /* #post{
        width: 200px;
    } */
}
