/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

/* OVERALL ASPECT */

body {
    background-color: #fffffe;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
	margin-top: 70px;
	
}
 body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 
/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 200;
    color: rgb(236, 233, 233);
}
h3{
	font-family: "Raleway";
    font-weight: 100;
	color: gray;
	font-size: 25px;
	font: bolder;
}
h4{
	font-family: "Raleway";
    font-weight: 200;
    color:#ffcc00;
}

.login-box{
	width: 70%;
	height: 65px;
	background-color: #3b5998;
	color: #ffffff;
	font-size: 1.15em;
	margin-left: 15%;
	padding-top: 15px;
}
/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3b1af8;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #0806a1;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-family: 'Angkor', cursive !important;
}
.navbar-brand {
	padding: 5px;
	margin: 5px;
}
.navbar-brand img{
	width: 130px;
	height: 35%;
}
.navbar-inverse {
	background: #f5f2f200;
    border-color: #b1b1b100;
}
.yellow-navbar-inverse {
	background: #f9e75e;
	border-color: #b1b1b100;
	transition: 0.9s;
}

.navbar-inverse .navbar-nav > .active > a {
	color: #999999;
	font-weight: bolder;
	font-size: 15px;
	letter-spacing: 1px;
}

.navbar-inverse .navbar-brand {
	color: #999999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
	
}

.navbar-inverse .navbar-brand i {
	color: #e0dddd;
	font-size: 22px;
	letter-spacing: 1px;
}
.navbar-inverse .navbar-nav > li > a {
	color: #3b5998;
	font-size: 18px;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: black;
	font-size: 18px;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 100px;
	color: #ffffff;
	font-size: 50px;
	font-weight: 200;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: #ffffff;
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/* Dark Grey Wrap */
#dg {
	background: #e0e0e0;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#dg h4 {
	font-weight: 700;
}

/* Light Grey */
#lg {
	background: #ebebeb;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#lg h4 {
	font-weight: 700;
}


/* Red Wrap */
#r {
	background: #a09a9a;
	padding-top: 50px;
	padding-bottom: 35px;
}

#r h4 {
	color: white;
	font-weight: 700;
}

#r p {
	color: white;
}




/* Footer Wrap */
#f {
	background: #f1eded;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-top: 120px;
	
}

#f i {
	color: #bdbdbd;
	font-size: 18px;
	padding: 6px;
}

#f i:hover {
	color: #ebe4e4;
}

/****** SECTIONS *****/

.w {
	padding-top: 35px;
}

.w h4 {
	font-weight: 700;
}

.w i {
	color: #f8f1f1;
	font-size: 30px;
}


.wb {
	padding-top: 35px;
	margin-bottom: 0px;
}

.wb h4 {
	font-weight: 700;
}

.desc {
	padding-top: 35px;
}

.desc h4 {
	font-weight: 700;
}

.desc i {
	color: #f1eaea;
	font-size: 12px;
	padding: 5px;
}


